<h1>Sign up for Spinnr!</h1>

<form class="" action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" value=""><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" value="">
  <input type="submit" value="Sign Up!">
</form>
